{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/additionaldata

    Template for additional data of a module of the Feedback tracker course report.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }

}}

{{! Additional info - free text fields. }}
<div class="p-2 my-2 bg-light small">
    {{#method}}
        <strong>{{#str}}header:method, report_feedback_tracker{{/str}}:</strong>
        <span data-method="{{method}}">{{method}}</span>
        <br>
    {{/method}}

    {{#contact}}
        <strong>{{#str}}header:contact, report_feedback_tracker{{/str}}:</strong>
        <span data-contact="{{contact}}">{{contact}}</span>
        <br>
    {{/contact}}

    {{#generalfeedback}}
        <strong>{{#str}}header:additionalinformation, report_feedback_tracker{{/str}}:</strong>
        <span data-generalfeedback="{{generalfeedback}}">{{generalfeedback}}</span>
        <br>
    {{/generalfeedback}}
</div>


