{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/assess_type

    Template for displaying the assessment type dropdown in edit mode.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }

}}

{{#locked}}
    {{{assesstypelabel}}}
{{/locked}}
{{^locked}}
    <label for="report-feedback-tracker-assesstypes" class="sr-only">{{#str}} header:assesstype, report_feedback_tracker {{/str}}</label>
    <select id="report-feedback-tracker-assesstypes" data-cmid="{{cmid}}" data-partid="{{partid}}" data-action="report_feedback_tracker/assesstype_select">
        {{#notset}}
            <option class="assesstype-notset">{{#str}} assesstype:notset, report_feedback_tracker {{/str}}</option>
        {{/notset}}
        {{#assesstypes}}
            <option value="{{value}}" {{#isselected}}selected{{/isselected}}>{{label}}</option>
        {{/assesstypes}}
    </select>
{{/locked}}
