{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/mod

    Template for a module of the Feedback tracker course report.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "moduletypeiconurl": "https://www.nasa.gov"
    }

}}

<div class="module" data-modulename="{{{name}}}">
    <div class="row">
        {{! Mod details. }}
        <div class="col-12 col-md-5 my-1">
            <a href="{{{url}}}">
                {{#manual}}
                    <span data-icon><i class="icon fa-regular fa-hand-spock"></i></span>
                {{/manual}}
                {{^manual}}
                    <span data-icon><img class='icon mr-0' src='{{{moduletypeiconurl}}}' alt='{{{name}}}'></span>
                {{/manual}}
                <span class="module-name" data-name>{{{name}}}</span>
            </a>
            {{#hiddenfromstudents}}
                <br><div class="badge badge-warning"><i class="fa-regular fa-eye-slash"></i> {{#str}} badge:hiddenfromstudents, report_feedback_tracker {{/str}}</div>
            {{/hiddenfromstudents}}

            {{#hiddenfromreport}}
                <br><div class="badge badge-warning" data-hiddenfromreport="{{hiddenfromreport}}"><i class="fa-regular fa-eye-slash"></i> {{#str}} badge:hiddenfromreport, report_feedback_tracker {{/str}}</div>
            {{/hiddenfromreport}}

            <span data-assessmenttype="{{assessmenttype}}" data-locked="{{locked}}" data-label="{{selectedassessmenttypelabel}}">
                {{#summative}}
                    <br><div class="badge badge-primary">{{#str}} assesstype:summative, report_feedback_tracker {{/str}}</div>
                {{/summative}}

                {{#formative}}
                    <br><div class="badge badge-secondary">{{#str}} assesstype:formative, report_feedback_tracker {{/str}}</div>
                {{/formative}}

                {{#dummy}}
                    <br><div class="badge badge-light">{{#str}} assesstype:dummy, report_feedback_tracker {{/str}}</div>
                {{/dummy}}
            </span>

            {{#duedate}}
                <br><div>Due: {{{duedate}}}</div>
            {{/duedate}}
        </div>

        <div class="col-12 col-md-7">
            {{! Student data. }}
            {{#studentdata}}
                <div class="row no-gutters">

                    <div class="col-4">
                        {{#duedate}}
                            <span class="d-md-none">{{#str}} due, report_feedback_tracker {{/str}}: </span>
                            {{{duedate}}}
                        {{/duedate}}
                    </div>

                    <div class="col-4">
                        {{#feedbackduedate}}
                            <span class="d-md-none">{{#str}} feedback:due, report_feedback_tracker {{/str}}: </span>{{{feedbackduedate}}}
                        {{/feedbackduedate}}
                        {{#markoverdue}}
                            <br><div class="badge badge-danger">{{#str}} feedback:overdue, report_feedback_tracker {{/str}}</div>
                        {{/markoverdue}}
                    </div>

                    <div class="col-4 text-right">
                        {{#mark}}
                            <span class="d-md-none">{{#str}} header:mark, report_feedback_tracker {{/str}}: </span>
                            {{{mark}}}
                        {{/mark}}
                    </div>
                </div>
            {{/studentdata}}

            {{! Staff data. }}
            {{#staffdata}}
                <div class="row no-gutters">

                    <div class="col-4" data-feedbackduedateraw="{{{feedbackduedateraw}}}">
                        {{#feedbackduedate}}
                            <span class="d-md-none">{{#str}} feedback:due, report_feedback_tracker {{/str}}: </span>{{{feedbackduedate}}}
                        {{/feedbackduedate}}

                        {{#customfeedbackduedate}}
                            <br><div class="badge badge-warning">{{#str}} feedbackduedate:custom, report_feedback_tracker {{/str}}</div>
                        {{/customfeedbackduedate}}

                        {{#markoverdue}}
                            <br><div class="badge badge-danger">{{#str}} feedback:overdue, report_feedback_tracker {{/str}}</div>
                        {{/markoverdue}}

                        {{#cohortfeedback}}
                            <br><div class="badge badge-light js-cohortfeedback">{{#str}} feedback:cohort, report_feedback_tracker {{/str}}</div>
                        {{/cohortfeedback}}
                    </div>

                    <div class="col-3">
                        {{#submissions}}
                            {{submissions}} <span class="d-md-none">{{#str}} submitted, report_feedback_tracker {{/str}}</span>
                        {{/submissions}}

                        {{#overrides}}
                            <div>
                                <a href="{{{overridesurl}}}" class="small">
                                    <i class="fa-solid fa-user-clock"></i>
                                    {{overrides}} {{#str}}users:have_extensions, report_feedback_tracker{{/str}}
                                </a>
                            </div>
                        {{/overrides}}
                    </div>

                    <div class="col-3">
                        {{#submissions}}
                            {{#requiredfeedbacks}}
                                <a href="{{{url}}}">{{requiredfeedbacks}} <small>{{#str}} requiremarking, report_feedback_tracker {{/str}}</small></a>
                            {{/requiredfeedbacks}}

                            <div>
                                <small>{{feedbackpercentage}}%</small>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuenow="{{feedbackpercentage}}" style="width: {{feedbackpercentage}}%" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        {{/submissions}}
                    </div>

                    <div class="col-2 text-right">
                        {{#outputedit}}
                            <button class="js-edit-tracker-data btn btn-outline-secondary" data-cmid="{{cmid}}" data-courseid="{{courseid}}" data-gradeitemid="{{gradeitemid}}" data-partid="{{partid}}" data-action="report_feedback_tracker/editmodule">
                                Edit <span class="sr-only">{{{name}}}</span>
                            </button>
                        {{/outputedit}}
                    </div>
                </div>
            {{/staffdata}}
        </div>

    </div>
    {{#additionaldata}}
        {{> report_feedback_tracker/course/additionaldata }}
    {{/additionaldata}}

    <hr>
</div>
