{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/generalfeedback_modal

    Template for displaying a modal dialog to edit general feedback.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "title": "A title",
        "generalfeedbacklabel": "General Feedback:",
        "generalfeedback": "This is good.",
        "gfurllabel": "NASA",
        "gfurl": "www.nasa.gov"
    }

}}
<div class="modal-header">
    <h5>{{{icon}}} {{{name}}}</h5>
</div>
<div class="modal-body">
    <div class="row">
        <form id="modalForm">
            <input type="hidden" id="js-gradeitemid" value="{{gradeitemid}}">
            <input type="hidden" id="js-partid" value="{{partid}}">

            <div class="form-group">
                <label for="contact" class="font-weight-bold">{{#str}} header:contact, report_feedback_tracker {{/str}}</label>
                <input type="text" class="form-control" id="js-contact" name="contact" value="{{{contact}}}">

            </div>
            <div class="form-group">
                <label for="method" class="font-weight-bold">{{#str}} header:method, report_feedback_tracker {{/str}}</label>
                <input type="text" class="form-control" id="js-method" name="method" value="{{{method}}}">

            </div>
            <div class="form-group">
                <label for="generalfeedback" class="font-weight-bold">{{#str}} header:generalfeedback, report_feedback_tracker {{/str}}</label>
                <textarea class="form-control" id="js-generalfeedback" name="generalfeedback" rows= "5">{{{generalfeedback}}}</textarea>

            </div>
            <div class="form-group">
                <label for="feedbackduedate" class="font-weight-bold">{{#str}} header:feedbackduedate, report_feedback_tracker {{/str}}</label>
                <input type="date" class="form-control" id="feedbackduedate" name="feedbackduedate" value="{{{formatteddate}}}">
                <input type="hidden" id="js-formatteddate" value="{{formatteddate}}">

            </div>
            <div class="form-group">
                <label for="js-assessmenttype" class="font-weight-bold">{{#str}} header:assessmenttype, report_feedback_tracker {{/str}}</label>

                {{#locked}}
                    <div>{{assessmenttypelabel}}</div>
                {{/locked}}
                {{^locked}}
                    <select id="js-assessmenttype" class="form-control">
                        {{#assessmenttypes}}
                            <option value="{{value}}" {{#isselected}}selected{{/isselected}}>{{label}}</option>
                        {{/assessmenttypes}}
                    </select>
                {{/locked}}
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value=""  id="js-hidden" name="hidden" {{#hidden}}checked{{/hidden}}>{{#str}} header:hiddenfromstudents, report_feedback_tracker {{/str}}
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
