{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/modedit_modal

    Template for displaying a modal dialog to edit information for a module.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "name": "A name",
        "generalfeedbacklabel": "General Feedback:",
        "generalfeedback": "This is good.",
        "gfurllabel": "NASA",
        "gfurl": "www.nasa.gov",
        "today": "2024-12-02"
    }

}}

<div class="modal-body">
    <form action="{{{ globals.config.wwwroot }}}/report/feedback_tracker/?id={{courseid}}" method="post">
    {{! Hidden data. }}
    <input type="hidden" name="sesskey" value="{{sesskey}}">
    <input type="hidden" id="gradeitemid" name="itemid" value="{{gradeitemid}}">
    <input type="hidden" id="partid" name="partid" value="{{partid}}">

    {{! Assessment type.}}
    <fieldset>
        <legend class="h6">{{#str}} header:assessmenttype, report_feedback_tracker {{/str}}</legend>
        <div class="form-group py-1">
            <label for="assessmenttype" class="sr-only">{{#str}} header:assessmenttype, report_feedback_tracker {{/str}}</label>

            {{#locked}}
                <input type="hidden" id="locked" name="locked" value="{{.}}">
                <div>{{assessmenttypelabel}}</div>
            {{/locked}}
            {{^locked}}
                <select id="assessmenttype" name="assessmenttype" class="form-control">
                    {{#assessmenttypes}}
                        <option value="{{value}}" {{#isselected}}selected{{/isselected}}>{{label}}</option>
                    {{/assessmenttypes}}
                </select>
            {{/locked}}
        </div>
        <div class="custom-control custom-switch py-1">
            <input type="checkbox" class="custom-control-input" value="" id="hidden" name="hidden" {{#hidden}}checked{{/hidden}} {{#hiddendisabled}}disabled{{/hiddendisabled}}>
            <label for="hidden" class="custom-control-label">
                {{#str}} header:hiddenfromstudents, report_feedback_tracker {{/str}}
            </label>
        </div>

    </fieldset>

    <hr>

    {{! Feedback due date. }}
    <fieldset>
        <legend class="h6">{{#str}} header:feedbackduedate, report_feedback_tracker {{/str}}</legend>
        <div class="custom-control custom-switch py-1">
            <input type="checkbox" class="custom-control-input" value="{{customfeedbackduedate}}" id="customfeedbackduedatecheckbox" name="customfeedbackduedatecheckbox" {{#formattedduedate}}checked{{/formattedduedate}}>
            <label for="customfeedbackduedatecheckbox" class="custom-control-label">
                {{#str}} header:customfeedbackduedate, report_feedback_tracker {{/str}}
            </label>
        </div>

        <div id="js-feedbackduedate" {{^formattedduedate}}class="d-none"{{/formattedduedate}}>
            <div class="form-group py-1">
                <label for="reason">{{#str}} feedbackduedate:reason, report_feedback_tracker {{/str}}</label>
                <input type="text" class="form-control" id="reason" name="reason" value="{{feedbackduedatereason}}">
            </div>

            <div class="form-group py-1">
                <label for="feedbackduedate">{{#str}} header:newfeedbackduedate, report_feedback_tracker {{/str}}</label>
                <input type="date" class="form-control" id="feedbackduedate" name="feedbackduedate" value="{{{formattedduedate}}}">
                <input type="hidden" id="previousfeedbackduedate" name="previousfeedbackduedate" value="{{formattedduedate}}">
            </div>
        </div>
    </fieldset>

    <br>

    {{! Feedback released date. }}
    <fieldset>
        <legend class="h6">{{#str}} header:feedbackreleaseddate, report_feedback_tracker {{/str}}</legend>
        <div class="custom-control custom-switch py-1">
            <input type="checkbox" class="custom-control-input" value="{{customfeedbackreleaseddate}}" id="customfeedbackreleaseddatecheckbox" name="customfeedbackreleaseddatecheckbox" {{#formattedreleaseddate}}checked{{/formattedreleaseddate}}>
            <label for="customfeedbackreleaseddatecheckbox" class="custom-control-label">
                {{#str}} header:customfeedbackreleaseddate, report_feedback_tracker {{/str}}
            </label>
        </div>

        <div id="js-feedbackreleaseddate" class="{{^formattedreleaseddate}}d-none{{/formattedreleaseddate}}">
            <div class="form-group py-1">
                <label for="feedbackreleaseddate">{{#str}} header:newfeedbackreleaseddate, report_feedback_tracker {{/str}}</label>
                <input type="date" class="form-control" id="feedbackreleaseddate" name="feedbackreleaseddate" value="{{{formattedreleaseddate}}}" max="{{today}}">
            </div>
        </div>

    </fieldset>

    <hr>

    {{! Additional data. }}
    <fieldset>
        <legend class="sr-only">{{#str}} header:additionalinformation, report_feedback_tracker {{/str}}</legend>
        <details>
            <summary id="behat-additional-details" class="h6">{{#str}} header:additionalinformation, report_feedback_tracker {{/str}}</summary>
            <p class="bg-light p-3 small">{{#str}} additionalinformationhint, report_feedback_tracker {{/str}}
            <p>

            <div class="form-group py-1">
                <label for="method">{{#str}} header:method, report_feedback_tracker {{/str}}</label>
                <input type="text" class="form-control" id="method" name="method" value="{{{method}}}">
            </div>

            <div class="form-group py-1">
                <label for="contact">{{#str}} header:contact, report_feedback_tracker {{/str}}</label>
                <input type="text" class="form-control" id="contact" name="contact" value="{{{contact}}}">
            </div>

            <div class="form-group py-1">
                <label for="generalfeedback">{{#str}} header:generalfeedback, report_feedback_tracker {{/str}}</label>
                <textarea class="form-control" id="generalfeedback" name="generalfeedback" rows= "5">{{{generalfeedback}}}</textarea>
            </div>

        </details>
    </fieldset>
    <hr>

    <div class="text-right py-1">
        <input type="button" class="btn btn-secondary" data-action="hide" aria-label="Close" value="{{#str}}cancel{{/str}}">
        <input type="submit" id="js-submitbutton" class="btn btn-primary" value="{{#str}}save{{/str}}">
    </div>

    </form>
</div>

{{#js}}
    require(['report_feedback_tracker/modal'], function(Edit) {
    Edit.init();
    });
{{/js}}