{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/site/mod

    Template for a module of the Feedback tracker course report.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "moduletypeiconurl": "https://www.nasa.gov"
    }

}}

<div>
    <div class="row">
        {{! Mod details. }}
        <div class="col-12 col-md-5 my-1">
            <a href="{{{url}}}">
                {{#manual}}
                   <i class="icon fa-regular fa-hand-spock"></i>
                {{/manual}}
                {{^manual}}
                    <img class='icon mr-0' src='{{{moduletypeiconurl}}}' alt='{{{name}}}'>
                {{/manual}}
                <span class="module-name" data-name>{{{name}}}</span>
            </a>
            {{#hiddenfromstudents}}
                <br><div class="badge badge-warning"><i class="fa-regular fa-eye-slash"></i> {{#str}} badge:hiddenfromstudents, report_feedback_tracker {{/str}}</div>
            {{/hiddenfromstudents}}

            {{#hiddenfromreport}}
                <br><div class="badge badge-warning" data-hiddenfromreport="{{hiddenfromreport}}"><i class="fa-regular fa-eye-slash"></i> {{#str}} badge:hiddenfromreport, report_feedback_tracker {{/str}}</div>
            {{/hiddenfromreport}}

            {{#duedate}}
                <br><div>{{#str}} due, report_feedback_tracker {{/str}}: {{{duedate}}}</div>
            {{/duedate}}
        </div>

        <div class="col-12 col-md-7">
            <div class="row no-gutters">

                <div class="col-4" data-feedbackduedateraw="{{{feedbackduedateraw}}}">
                    {{#feedbackduedate}}
                        <span class="d-md-none">{{#str}} feedback:due, report_feedback_tracker {{/str}}: </span>{{{feedbackduedate}}}
                    {{/feedbackduedate}}

                    {{#customfeedbackduedate}}
                        <br><div class="badge badge-warning" data-customfeedbackduedate="{{customfeedbackduedate}}" data-feedbackduedatereason="{{feedbackduedatereason}}">{{#str}} feedbackduedate:custom, report_feedback_tracker {{/str}}</div>
                    {{/customfeedbackduedate}}

                    {{#customfeedbackreleaseddate}}
                        <br><div class="badge badge-warning" data-customfeedbackreleaseddate="{{customfeedbackreleaseddate}}">{{#str}} feedbackreleaseddate:custom, report_feedback_tracker {{/str}}</div>
                    {{/customfeedbackreleaseddate}}

                    {{#markoverdue}}
                        <br><div class="badge badge-danger">{{#str}} feedback:overdue, report_feedback_tracker {{/str}}</div>
                    {{/markoverdue}}

                    {{#cohortfeedback}}
                        <br><div class="badge badge-light" data-cohortfeedback="{{cohortfeedback}}">{{#str}} feedback:cohort, report_feedback_tracker {{/str}}</div>
                    {{/cohortfeedback}}
                </div>

                <div class="col">
                    {{#submissions}}
                        {{submissions}} <span class="d-md-none">{{#str}} submitted, report_feedback_tracker {{/str}}</span>
                    {{/submissions}}

                    {{#overrides}}
                        <div>
                            <a href="{{{overridesurl}}}" class="small">
                                <i class="fa-solid fa-user-clock mr-2"></i>{{.}}
                            </a>
                        </div>
                    {{/overrides}}
                </div>

                <div class="col-4">
                    {{#submissions}}
                        {{#requiredfeedbacks}}
                            <a href="{{{markingurl}}}">
                                <small>{{#str}} requiremarking, report_feedback_tracker, {{.}} {{/str}}</small>
                            </a>
                        {{/requiredfeedbacks}}

                        <div>
                            <small>{{feedbackpercentage}}%</small>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuenow="{{feedbackpercentage}}" style="width: {{feedbackpercentage}}%" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    {{/submissions}}
                </div>
            </div>
        </div>

    </div>
    {{#additionaldata}}
        {{> report_feedback_tracker/additionaldata }}
    {{/additionaldata}}

    <hr>
</div>
