{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/courses

    Template for displaying the feedback records to users/students.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "records": [
            {
                "course": "",
                "assessment": "",
                "type": "",
                "duedate": "",
                "submissiondate": "",
                "feedbackduedate": "",
                "feedback": ""
            }
        ]
    }

}}

<div>{{#str}} title:subtext, report_feedback_tracker {{/str}}</div>
<div>
    <span class="badge badge-primary">{{#str}} summative, report_feedback_tracker {{/str}}</span> {{#str}} summativekey, report_feedback_tracker {{/str}}
</div>
<hr>

{{! Years. }}
{{#hasyears}}
    {{> report_feedback_tracker/student/ayselector }}
{{/hasyears}}
<hr>

{{#courses}}
    {{> report_feedback_tracker/course_header }}

    {{> report_feedback_tracker/mods_header }}

    {{#items}}
        {{> report_feedback_tracker/student/mod }}
    {{/items}}
{{/courses}}
{{^courses}}
    {{#str}}no_courses_this_year, report_feedback_tracker{{/str}}
{{/courses}}