.col_course {
    max-width: 250px;
}

.col_assessment {
    max-width: 250px;
}

.col_hidden {
    text-align: center;
}

.feedback_tracker_contact_title {
    font-weight: bold;
}

#feedback_table_filterrow {
    background-color: lightgrey;
}