{{!
    This file is part the Local Analytics plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/admintable

    Template for displaying the feedback records to admins/teachers.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "records": [
            {
                "assessment": "",
                "duedate": "",
                "feedbackduedate": "",
                "feedbacks": "",
                "method": "",
                "responsibility": "",
                "generalfeedback": "",
                "summative": "",
                "hidden": ""
            }
        ]
    }

}}
<table id="feedback_table" class="table">
    <thead>
        <tr>
            <th scope="col">{{#str}} assessment, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} duedate, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} feedbackduedate, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} feedbacks, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} method, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} responsibility, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} generalfeedback, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} summative, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
        </tr>
        <tr id="feedback_table_filterrow" class="bg-light">
            <td  style="display: none;">
                <select id="filtercourse">
                    <option value="">All</option>
                    {{#courseoptions}}
                        <option value="{{key}}">{{value}}</option>
                    {{/courseoptions}}
                </select>
            </td>
            <td>
                <select id="filtertype">
                    <option value="">All</option>
                    {{#typeoptions}}
                        <option value="{{key}}">{{value}}</option>
                    {{/typeoptions}}
                </select>
            </td>
            <td id="filterduedate">
            </td>
            <td id="filterfeedbackduedate">
            </td>
            <td id="filterfeedbacks">
            </td>
            <td>
                <select id="filtermethod">
                    <option value="">All</option>
                    {{#methodoptions}}
                        <option value="{{key}}">{{value}}</option>
                    {{/methodoptions}}
                </select>
            </td>
            <td id="filterresponsibility">
                <input type="text" class="filterresponsibility-input" data-column="0" placeholder="Type to filter">
            </td>
            <td id="filtergeneralfeedback">
                <input type="text" class="filtergeneralfeedback-input" data-column="0" placeholder="Type to filter">
            </td>
            <td>
                <select id="filtersummative">
                    <option value="">All</option>
                    {{#summativeoptions}}
                        <option value="{{key}}">{{value}}</option>
                    {{/summativeoptions}}
                </select>
            </td>
        </tr>
    </thead>
    <tbody>
        {{#records}}
            <tr>
                <td class="col_assessment" data-filter="{{module}}">{{{type}}} {{{assessment}}}</td>
                <td class="col_duedate">{{duedate}}</td>
                <td class="col_feedbackduedate">{{{feedbackduedate}}}</td>
                <td class="col_feedbacks">{{{feedbacks}}}</td>
                <td class="col_method" data-filter="{{method}}">{{{method}}}</td>
                <td class="col_responsibility textsearchable">{{{responsibility}}}</td>
                <td class="col_generalfeedback textsearchable">{{{generalfeedback}}}</td>
                <td class="col_summative" data-filter="{{summativetext}}">{{{summative}}}</td>
            </tr>
        {{/records}}
    </tbody>
</table>

{{#js}}
    require(['report_feedback_tracker/studentview'], function(studentdd) {
    studentdd.init();
    });
    require(['report_feedback_tracker/tablefilters'], function(tablefilters) {
    tablefilters.init();
    });
    require(['report_feedback_tracker/tablesort'], function(tablesort) {
    tablesort.init();
    });
{{/js}}
