{{!
    This file is part the Local Analytics plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/admintable

    Template for displaying the feedback records to admins/teachers.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "records": [
            {
                "assessment": "",
                "type": "",
                "summative": "",
                "duedate": "",
                "feedbackduedate": "",
                "feedbacks": "",
                "method": "",
                "responsibility": "",
                "generalfeedback": "",
                "hidden": ""
            }
        ]
    }

}}
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="col_assessment">{{#str}} assessment, report_feedback_tracker {{/str}}</th>
            <th scope="col">{{#str}} duedate, report_feedback_tracker {{/str}}</th>
            <th scope="col">{{#str}} feedbackduedate, report_feedback_tracker {{/str}}</th>
            <th scope="col">{{#str}} feedbacks, report_feedback_tracker {{/str}}</th>
            <th scope="col">{{#str}} method, report_feedback_tracker {{/str}}</th>
            <th scope="col">{{#str}} responsibility, report_feedback_tracker {{/str}}</th>
            <th scope="col">{{#str}} generalfeedback, report_feedback_tracker {{/str}}</th>
            <th scope="col" class="col_summative">{{#str}} summative, report_feedback_tracker {{/str}}</th>
            <th scope="col" class="col_hidden">{{#str}} hidden_item, report_feedback_tracker {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#records}}
            <tr>
                <td class="col_assessment">{{{type}}} {{{assessment}}}</td>
                <td>{{duedate}}</td>
                <td>{{{feedbackduedate}}}</td>
                <td>{{{feedbacks}}}</td>
                <td>{{{method}}}</td>
                <td>{{{responsibility}}}</td>
                <td>{{{generalfeedback}}}</td>
                <td class="col_summative">{{{summative}}}</td>
                <td class="col_hidden">{{{hidden}}}</td>
            </tr>
        {{/records}}
    </tbody>
</table>

<hr>

{{#js}}
    require(['report_feedback_tracker/adminedit'], function(Edit) {
    Edit.init();
    });
    require(['report_feedback_tracker/datepicker'], function(DatePicker) {
    DatePicker.init();
    });
{{/js}}
