{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/adminedittable

    Template for displaying the feedback records to admins/teachers.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "records": [
            {
                "assessment": "",
                "type": "",
                "summative": "",
                "duedate": "",
                "feedbackduedate": "",
                "feedbacks": "",
                "method": "",
                "responsibility": "",
                "generalfeedback": "",
                "hidden": ""
            }
        ]
    }

}}
<div class="full-width">
    <div class="table-responsive p-5">
        <table id="feedback-table" class="table">
            <thead class="small bg-light">
            <tr>
                <th scope="col" class="col-assessment align-top">{{#str}} header:assessment, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
                <th scope="col" class="align-top">{{#str}} header:duedate, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
                <th scope="col" class="align-top">{{#str}} header:feedbacks, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
                <th scope="col" class="align-top" data-toggle="tooltip" title="{{#str}} method:tooltip, report_feedback_tracker {{/str}}">{{#str}} header:method, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
                <th scope="col" class="align-top">{{#str}} header:contact, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
                <th scope="col" class="align-top">{{#str}} header:generalfeedback, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
                <th scope="col" class="align-top">{{#str}} header:cohortfeedback, report_feedback_tracker {{/str}}</th>
                <th scope="col" class="col-summative align-top">{{#str}} header:assessmenttype, report_feedback_tracker {{/str}}</th>
                <th scope="col" class="col-hidden text-center align-top">{{#str}} header:hidden_item, report_feedback_tracker {{/str}}</th>
            </tr>
            </thead>
            <tbody>
            {{#records}}
                <tr>
                    <td class="col-assessment" data-filter="{{module}}" data-filter-assessment="{{module}}">
                        <div class="small w-100">
                            {{{course}}}
                        </div>
                        <div class="w-100 sort-this">
                            {{{moduletypeicon}}} {{{assessment}}}
                        </div>
                    </td>
                    <td class="col-duedate text-nowrap">
                        <div class="sort-this hidden">{{duedateraw}}</div>
                        <div>{{duedate}}</div>
                    </td>
                    <td class="col-feedbacks">
                        <div class="sort-this hidden">{{feedbackduedateraw}}</div>
                        <div class="small w-100 text-nowrap">
                            {{{feedbackduedate}}}
                        </div>
                        <div class="w-100">
                            {{{feedbacks}}}
                        </div>
                    </td>
                    <td class="col-method">
                        <div class="sort-this">{{{method}}}</div>
                    </td>
                    <td class="col-responsibility">
                        <div class="sort-this">{{{responsibility}}}</div>
                    </td>
                    <td class="col-generalfeedback">
                        <div class="sort-this">{{{generalfeedback}}}</div>
                    </td>
                    <td class="col-cohortfeedback">
                        <div class="sort-this">{{{cohortfeedback}}}</div>
                    </td>
                    <td class="col-summative text-center">
                        <div class="sort-this">{{> report_feedback_tracker/assess_type }}</div>
                    </td>
                    <td class="col-hidden text-center">
                        <div class="sort-this">{{{hidden}}}</div>
                    </td>
                </tr>
            {{/records}}
            </tbody>
        </table>
    </div>
</div>

{{#js}}
    require(['report_feedback_tracker/adminedit'], function(Edit) {
    Edit.init();
    });
    require(['report_feedback_tracker/tablefilters'], function(tablefilters) {
        tablefilters.init();
    });
    require(['report_feedback_tracker/tablesort'], function(tablesort) {
        tablesort.init();
    });
{{/js}}
