{{!
    This file is part the Local Analytics plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/admintable

    Template for displaying the feedback records to admins/teachers.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "records": [
            {
                "assessment": "",
                "duedate": "",
                "feedbackduedate": "",
                "feedbacks": "",
                "method": "",
                "responsibility": "",
                "generalfeedback": "",
                "summative": "",
                "hidden": ""
            }
        ]
    }

}}
<div class="full-width">
    <div class="table-responsive p-5">
        <table id="feedback_table" class="table">
            <thead class="small bg-light">
            <tr>
                <th scope="col" class="align-top" style="min-width: 300px; width: 300px;">{{#str}} assessment, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
                <th scope="col" class="align-top">{{#str}} duedate, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
                <th scope="col" class="align-top">{{#str}} feedbacks, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
                <th scope="col" class="align-top">{{#str}} method, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
                <th scope="col" class="align-top">{{#str}} contact, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
                <th scope="col" class="align-top">{{#str}} generalfeedback, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
                <th scope="col" class="align-top">{{#str}} summative, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            </tr>
            <tr id="feedback_table_filterrow">
                <td>
                    <label for="filtertype" class="sr-only">{{#str}}filter:type, report_feedback_tracker{{/str}}</label>
                    <select id="filtertype" class="custom-select custom-select-sm w-100">
                        <option value="">{{#str}}filter:type, report_feedback_tracker{{/str}}</option>
                        {{#typeoptions}}
                            <option value="{{key}}">{{value}}</option>
                        {{/typeoptions}}
                    </select>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <label for="filtermethod" class="sr-only">{{#str}}filter:method, report_feedback_tracker{{/str}}</label>
                    <select id="filtermethod" class="custom-select custom-select-sm w-100">
                        <option value="">{{#str}}filter:method, report_feedback_tracker{{/str}}</option>
                        {{#methodoptions}}
                            <option value="{{key}}">{{value}}</option>
                        {{/methodoptions}}
                    </select>
                </td>
                <td>
                    <label for="filterresponsibility" class="sr-only">{{#str}}filter:contact, report_feedback_tracker{{/str}}</label>
                    <input id="filterresponsibility" type="text" class="form-control form-control-sm w-100 filterresponsibility-input" data-column="0" placeholder="{{#str}}filter:typeto, report_feedback_tracker{{/str}}">
                </td>
                <td>
                    <label for="filtergeneralfeedback" class="sr-only">{{#str}}filter:generalfeedback, report_feedback_tracker{{/str}}</label>
                    <input id="filtergeneralfeedback" type="text" class="form-control form-control-sm w-100 filtergeneralfeedback-input" data-column="0" placeholder="{{#str}}filter:typeto, report_feedback_tracker{{/str}}">
                </td>
                <td>
                    <label for="filtersummative" class="sr-only">{{#str}}filter:summative, report_feedback_tracker{{/str}}</label>
                    <select id="filtersummative" class="custom-select custom-select-sm w-100">
                        <option value="">{{#str}}filter:summative, report_feedback_tracker{{/str}}</option>
                        {{#summativeoptions}}
                            <option value="{{key}}">{{value}}</option>
                        {{/summativeoptions}}
                    </select>
                </td>
            </tr>
            </thead>
            <tbody>
            {{#records}}
                <tr>
                    <td class="col_assessment" data-filter="{{module}}" data-filter-assessment="{{module}}">
                        <div class="small w-100">
                            {{{course}}}
                        </div>
                        <div class="w-100">
                            {{{type}}} {{{assessment}}}
                        </div>
                    </td>
                    <td class="col_duedate text-nowrap small">{{duedate}}</td>
                    <td class="col_feedbacks">
                        <div class="small w-100 text-nowrap">
                            {{{feedbackduedate}}}
                        </div>
                        <div class="w-100">
                            {{{feedbacks}}}
                        </div>
                    </td>
                    <td class="col_method" data-filter="{{method}}">{{{method}}}</td>
                    <td class="col_responsibility textsearchable">{{{responsibility}}}</td>
                    <td class="col_generalfeedback textsearchable">{{{generalfeedback}}}</td>
                    <td class="col_summative text-center" data-filter="{{summativetext}}">{{{summative}}}</td>
                </tr>
            {{/records}}
            </tbody>
        </table>
    </div>
</div>

{{#js}}
    require(['report_feedback_tracker/studentview'], function(studentdd) {
    studentdd.init();
    });
    require(['report_feedback_tracker/tablefilters'], function(tablefilters) {
    tablefilters.init();
    });
    require(['report_feedback_tracker/tablesort'], function(tablesort) {
    tablesort.init();
    });
{{/js}}
