{{!
    This file is part the Feedback Tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/courses

    Template for displaying the feedback records to users/students.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "records": [
            {
                "course": "",
                "assessment": "",
                "type": "",
                "type": "",
                "duedate": "",
                "submissiondate": "",
                "feedbackduedate": "",
                "feedback": ""
            }
        ]
    }

}}
<div class="sub-title">{{#str}}title:subtext, report_feedback_tracker{{/str}}</div>
<hr>
<div class="d-flex">

    {{! Years. }}
    {{#hasyears}}
        {{> report_feedback_tracker/ayselector }}
    {{/hasyears}}

    {{#donotshowfornow}}
        <div class="ml-auto">
            <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle" type="button" id="coursejump" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#str}}jumpto, report_feedback_tracker{{/str}}
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="coursejump">
                    {{#courses}}
                        <a class="dropdown-item line-clamp-2" href="#{{courseid}}">{{{fullname}}}</a>
                    {{/courses}}
                </div>
            </div>
        </div>
    {{/donotshowfornow}}
</div>
<hr>

<div id="courses_area">
    {{#courses}}
        <div id="{{courseid}}" class="pb-4 course_row" data-ay="{{academicyear}}">
            <h3 class="d-flex align-items-center pb-4">
                {{#image}}
                    <div class="flex-shrink-0 rounded-circle mr-2 bg-cover" style="height: 3rem; width: 3rem; background-image: url('{{image}}');"></div>
                {{/image}}
                <a href="{{{url}}}">{{{fullname}}}{{#academicyear}} ({{academicyear}}){{/academicyear}}</a>
            </h3>

            {{#modheader}}
                {{> report_feedback_tracker/modheader }}
            {{/modheader}}

            {{#records}}
                {{> report_feedback_tracker/mod }}
            {{/records}}
        </div>
    {{/courses}}
</div>

{{#js}}
    require(['report_feedback_tracker/academicyears'], function(academicyears) {
    academicyears.init();
    });
{{/js}}
