{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/courses

    Template for displaying the feedback records to users/students.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "records": [
            {
                "course": "",
                "assessment": "",
                "type": "",
                "type": "",
                "duedate": "",
                "submissiondate": "",
                "feedbackduedate": "",
                "feedback": ""
            }
        ]
    }

}}
<div id="feedback-tracker-studentdd" data-courseid="{{courseid}}">{{{studentdd}}}</div>

<div id="behat-feedback-area">
    <div class="sub-title">{{#str}} title:subtext, report_feedback_tracker {{/str}}</div>
    <div>
        <span class="badge badge-primary">{{#str}} summative, report_feedback_tracker {{/str}}</span> {{#str}} summativekeyadmin, report_feedback_tracker {{/str}}
        <br>
        <span class="badge badge-secondary">{{#str}} formative, report_feedback_tracker {{/str}}</span> {{#str}} formativekey, report_feedback_tracker {{/str}}
    </div>
    <hr>
    <div class="d-flex">

        {{! Years. }}
        {{#hasyears}}
            {{> report_feedback_tracker/ayselector }}
        {{/hasyears}}

    </div>
    <hr>

    <div id="course-area">
        <div class="row my-3">
            <div class="col-5">

            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col-4 small text-muted">
                        {{#str}} header:feedbackdue, report_feedback_tracker {{/str}}
                    </div>
                    <div class="col-3 small text-muted ">
                        {{#str}} header:submitted, report_feedback_tracker {{/str}}
                    </div>
                    <div class="col-3 small text-muted ">
                        {{#str}} header:marking, report_feedback_tracker {{/str}}
                    </div>
                    <div class="col small text-muted text-right">
                        {{#str}} header:edit, report_feedback_tracker {{/str}}
                    </div>
                </div>
            </div>
        </div>

        {{#records}}
            {{> report_feedback_tracker/admin_mod }}
        {{/records}}
    </div>
</div>
