{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/mod

    Template for a module of the Feedback tracker course report.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "moduletypeiconurl": "https://www.nasa.gov"
    }

}}

<div class="module" data-modulename="{{{name}}}">
    {{#updated}}
        {{! Successfully updated message. }}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{#str}} assessment:has_been_updated, report_feedback_tracker {{/str}}
            <button type="button" class="close" data-dismiss="alert" aria-label="{{#str}} close, report_feedback_tracker {{/str}}">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/updated}}

    <div class="row">
        {{! Mod details. }}
        <div class="col-12 col-md-5 my-1">
            {{^moduletypeiconurl}}{{! Manual grade item }}
                    <i class="fa fa-hand-paper-o" style="color: grey;"></i>
                    {{{name}}}
            {{/moduletypeiconurl}}
            {{#moduletypeiconurl}}
                <a href="{{{url}}}">
                    <img class='icon mr-0' src='{{{moduletypeiconurl}}}' alt=''>
                    {{{name}}}
                </a>
            {{/moduletypeiconurl}}
            {{#hiddenfromstudents}}
                <br><div class="badge badge-warning"><i class="fa-regular fa-eye-slash"></i> {{#str}} badge:hiddenfromstudents, report_feedback_tracker {{/str}}</div>
            {{/hiddenfromstudents}}

            {{#hiddenfromreport}}
                <br><div class="badge badge-warning"><i class="fa-regular fa-eye-slash"></i> {{#str}} badge:hiddenfromreport, report_feedback_tracker {{/str}}</div>
            {{/hiddenfromreport}}


            {{#summative}}
                <br><div class="badge badge-primary">{{#str}} assesstype:summative, report_feedback_tracker {{/str}}</div>
            {{/summative}}

            {{#formative}}
                <br><div class="badge badge-secondary">{{#str}} assesstype:formative, report_feedback_tracker {{/str}}</div>
            {{/formative}}

            {{#dummy}}
                <br><div class="badge badge-light">{{#str}} assesstype:dummy, report_feedback_tracker {{/str}}</div>
            {{/dummy}}

            {{#duedate}}
                <br><div>{{#str}} due, report_feedback_tracker {{/str}}: {{{duedate}}}</div>
            {{/duedate}}
        </div>

        <div class="col-12 col-md-7">
            {{! Student data. }}
            {{#studentdata}}
                {{> report_feedback_tracker/mod_student }}
            {{/studentdata}}

            {{! Staff data. }}
            {{#staffdata}}
                <div class="row no-gutters">

                    <div class="col-4">
                        {{#feedbackduedate}}
                            <span class="sr-only-md">{{#str}} feedback:due, report_feedback_tracker {{/str}}: </span>{{{feedbackduedate}}}
                        {{/feedbackduedate}}

                        {{#customfeedbackduedate}}
                            <br><div class="badge badge-warning">{{#str}} feedbackduedate:custom, report_feedback_tracker {{/str}}</div>
                        {{/customfeedbackduedate}}

                        {{#customfeedbackreleaseddate}}
                            <br><div class="badge badge-warning">{{#str}} feedbackreleaseddate:custom, report_feedback_tracker {{/str}}</div>
                        {{/customfeedbackreleaseddate}}

                        {{#markoverdue}}
                            <br><div class="badge badge-danger">{{#str}} feedback:overdue, report_feedback_tracker {{/str}}</div>
                        {{/markoverdue}}

                        {{#cohortfeedback}}
                            <br><div class="badge badge-light">{{#str}} feedback:cohort, report_feedback_tracker {{/str}}</div>
                        {{/cohortfeedback}}
                    </div>

                    <div class="col-4">
                        {{#submissions}}
                            {{submissions}} <span class="sr-only-md">{{#str}} submitted, report_feedback_tracker {{/str}}</span>
                        {{/submissions}}

                        {{#overrides}}
                            <div>
                                <a href="{{{overridesurl}}}" class="small">
                                    <i class="fa-solid fa-user-clock mr-2"></i>{{.}}
                                </a>
                            </div>
                        {{/overrides}}
                    </div>

                    <div class="col">
                        {{#submissions}}
                            {{#requiredfeedbacks}}
                                <a href="{{{markingurl}}}">
                                    <small>{{#str}} requiremarking, report_feedback_tracker, {{.}} {{/str}}</small>
                                </a>
                            {{/requiredfeedbacks}}

                            <div>
                                <small>{{feedbackpercentage}}%</small>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-label="{{#str}} progress {{/str}}" aria-valuenow="{{feedbackpercentage}}" style="width: {{feedbackpercentage}}%" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        {{/submissions}}
                    </div>

                     {{! Edit button - with data attribute (json) for js. }}
                    {{#outputedit}}
                    <div class="col-1 text-right">
                            <button
                                class="js-edit-tracker-data btn btn-sm btn-outline-secondary"
                                data-gradeitemid="{{gradeitemid}}"
                                data-partnr="{{partid}}">
                                {{#str}} edit {{/str}}
                                <span class="sr-only">{{{name}}}</span>
                            </button>
                    </div>
                     {{/outputedit}}
                </div>
            {{/staffdata}}
        </div>

    </div>
    {{#additionaldata}}
        {{> report_feedback_tracker/additionaldata }}
    {{/additionaldata}}

    <hr>
</div>
