<div class="modal-header">
    <h4>{{title}}</h4>
</div>
<div class="modal-body">
    <form id="modalForm">
        <div class="form-group">
            <label for="generalfeedback">{{generalfeedbacklabel}}</label>
            <input type="text" class="form-control" id="generalfeedback" name="generalfeedback" value="{{{generalfeedback}}}">
        </div>
        <div class="form-group">
            <label for="gfurl">{{gfurllabel}}</label>
            <input type="text" class="form-control" id="gfurl" name="gfurl" value="{{{gfurl}}}">
        </div>
    </form>
</div>
