{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/modheder

    Template for displaying a header for modules listed in a course.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }

}}

<div class="row d-none d-md-flex small p-2 bg-light">
    <div class="col-5">Assessment</div>
    <div class="col-7">
        <div class="row">
            <div class="col-4">{{#str}} due, report_feedback_tracker {{/str}}</div>
            <div class="col-4">{{#str}} feedback:due, report_feedback_tracker {{/str}}</div>
            <div class="col-4 text-right">{{#str}} mark, report_feedback_tracker {{/str}}</div>
        </div>
    </div>
</div>
