<div>
    <label for="report_feedback_tracker_studentdd">{{#str}} studentdd_label, report_feedback_tracker {{/str}}&nbsp;</label>
    <select id="report_feedback_tracker_studentdd" name="students" class="searchoptions custom-select align-baseline">
        <option value="0">Admin</option>
        {{#students}}
            <option class="studentdd-option" value="{{id}}">{{firstname}} {{lastname}}</option>
        {{/students}}
    </select>
</div>
