{{!
    This file is part the Feedback Tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/studentdropdown

    Template for displaying a dropdown of student names.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "students": [
            {
                "id": "1",
                "firstname": "Theobald",
                "lastname": "Tiger"
            }
        ]
    }

}}
<div>
    <label for="report_feedback_tracker_studentdd">{{#str}} studentdd_label, report_feedback_tracker {{/str}}&nbsp;</label>
    <select id="report_feedback_tracker_studentdd" name="students" class="searchoptions custom-select align-baseline">
        <option value="0">{{#str}} courseadmin, report_feedback_tracker {{/str}}</option>
        {{#students}}
            <option class="studentdd-option" value="{{id}}">{{firstname}} {{lastname}}</option>
        {{/students}}
    </select>
</div>
