{{!
    This file is part the Local Analytics plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/usertable

    Template for displaying the feedback records to users/students.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "records": [
            {
                "course": "",
                "assessment": "",
                "type": "",
                "type": "",
                "duedate": "",
                "submissiondate": "",
                "feedbackduedate": "",
                "feedback": ""
            }
        ]
    }

}}
<table class="table" id="feedback_table">
    <thead>
        <tr class="feedback_table_header">
            <th scope="col">{{#str}} course, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} assessment, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} type, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} duedate, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} submissiondate, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} feedbackduedate, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} feedback, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} method, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
            <th scope="col">{{#str}} generalfeedback, report_feedback_tracker {{/str}} <span class="indicator"></span></th>
        </tr>
        <tr id="feedback_table_filterrow">
            <td>
                <select id="filtercourse">
                    <option value="">All</option>
                    {{#courseoptions}}
                        <option value="{{key}}">{{value}}</option>
                    {{/courseoptions}}
                </select>
            </td>
            <td>
                <select id="filtertype">
                    <option value="">All</option>
                    {{#typeoptions}}
                        <option value="{{key}}">{{value}}</option>
                    {{/typeoptions}}
                </select>
            </td>
            <td>
                <select id="filtersummative">
                    <option value="">All</option>
                    {{#summativeoptions}}
                        <option value="{{key}}">{{value}}</option>
                    {{/summativeoptions}}
                </select>
            </td>
            <td id="filterduedate">
            </td>
            <td id="filtersubmissiondate">
            </td>
            <td id="filterfeedbackduedate">
            </td>
            <td>
                <select id="filterfeedback">
                    <option value="">All</option>
                    {{#feedbackoptions}}
                        <option value="{{key}}">{{value}}</option>
                    {{/feedbackoptions}}
                </select>
            </td>
            <td>
                <select id="filtermethod">
                    <option value="">All</option>
                    {{#methodoptions}}
                        <option value="{{key}}">{{value}}</option>
                    {{/methodoptions}}
                </select>
            </td>
            <td id="filtergeneralfeedback">
            </td>
        </tr>
    </thead>
    <tbody>
        {{#records}}
            <tr>
                <td class="col_course" data-filter="{{courseid}}">{{{course}}}</td>
                <td class="col_assessment" data-filter="{{module}}">{{{type}}} {{{assessment}}}</td>
                <td class="col_summative" data-filter="{{summative}}">{{{summative}}}</td>
                <td class="col_duedate">{{duedate}}</td>
                <td class="col_submissiondate">{{submissiondate}}</td>
                <td class="col_feedbackduedate">{{{feedbackduedate}}}</td>
                <td class="col_feedback" data-filter="{{feedbackstatus}}">{{{feedback}}}</td>
                <td class="col_method" data-filter="{{method}}">{{{method}}}</td>
                <td class="col_generalfeedback">{{{generalfeedback}}}</td>
            </tr>
        {{/records}}
    </tbody>
</table>

{{#js}}
    require(['report_feedback_tracker/tablefilters'], function(tablefilters) {
    tablefilters.init();
    });
    require(['report_feedback_tracker/tablesort'], function(tablesort) {
    tablesort.init();
    });
{{/js}}
