{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/courses

    Template for displaying the feedback records to users/students.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "records": [
            {
                "course": "",
                "assessment": "",
                "type": "",
                "type": "",
                "duedate": "",
                "submissiondate": "",
                "feedbackduedate": "",
                "feedback": ""
            }
        ]
    }

}}

<div id="behat-feedback-area">
    <div class="sub-title">{{#str}} title:subtext, report_feedback_tracker {{/str}}</div>
    <div>
        <span class="badge badge-primary">{{#str}} summative, report_feedback_tracker {{/str}}</span> {{#str}} summativekey, report_feedback_tracker {{/str}}
        <br>
        <span class="badge badge-secondary">{{#str}} formative, report_feedback_tracker {{/str}}</span> {{#str}} formativekey, report_feedback_tracker {{/str}}
    </div>
    <hr>
    <div class="d-flex">

        {{! Years. }}
        {{#hasyears}}
            {{> report_feedback_tracker/ayselector }}
        {{/hasyears}}

    </div>
    <hr>

    <div id="courses-area">
        {{#courses}}
            <div id="{{courseid}}" class="pb-4 courses-row" data-ay="{{academicyear}}">
                <h3 class="d-flex align-items-center pb-4">
                    {{#image}}
                        <div class="flex-shrink-0 rounded-circle mr-2 bg-cover" style="height: 3rem; width: 3rem; background-image: url('{{image}}');"></div>
                    {{/image}}
                    <a href="{{{url}}}">{{{fullname}}}</a>
                </h3>

                {{#modheader}}
                    {{> report_feedback_tracker/modheader }}
                {{/modheader}}

                {{#records}}
                    {{> report_feedback_tracker/user/mod }}
                {{/records}}
            </div>
        {{/courses}}
        {{^courses}}
            {{#str}}no_courses_this_year, report_feedback_tracker{{/str}}
        {{/courses}}
    </div>
</div>
