{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_feedback_tracker/usertable

    Template for displaying the feedback items to users/students.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "items": [
            {
                "course": "",
                "assessment": "",
                "type": "",
                "duedate": "0",
                "submissiondate": "0",
                "feedbackduedate": "0",
                "feedback": [
                    {"overdue": "overdue"}
                ]
            }
        ]
    }

}}

<div class="row">

    <!-- Mod name. -->
    <div class="col-12 col-md-5 mb-3 mb-md-0">
        {{{moduletypeicon}}} {{{assessment}}}
    </div>

    <!-- Mod metadata. -->
    <div class="col">
        <div class="row">
            <div class="col-4">
                <small>
                    <span class="d-md-none">{{#str}} due, report_feedback_tracker {{/str}}:</span>
                    <span class="text-nowrap">{{duedate}}</span>
                </small>
                <br>
                {{#submissionstatus}}
                    {{{submissionstatus}}}
                {{/submissionstatus}}
            </div>

            <!-- Feedback data. -->
            <div class="col-4">
                <small>
                    <span class="d-md-none">{{#str}} feedback:due, report_feedback_tracker {{/str}}:</span>
                    <span class="text-nowrap">{{{feedbackduedate}}}</span>
                </small>
                {{#feedback}}
                    <br>
                    {{#released}}
                        <span class="badge badge-success">{{#str}} feedback:released, report_feedback_tracker {{/str}}</span>
                    {{/released}}
                    {{#late}}
                        <span class="badge badge-warning">{{#str}} feedback:late, report_feedback_tracker {{/str}}</span>
                    {{/late}}
                    {{#overdue}}
                        <span class="badge badge-danger">{{#str}} feedback:overdue, report_feedback_tracker {{/str}}</span>
                    {{/overdue}}                {{/feedback}}
            </div>

            <!-- Mark data. -->
            <div class="col-4">
                <small class="d-md-none">{{#str}}header:mark, report_feedback_tracker{{/str}}:</small>
                {{#grade}} <strong> {{.}} </strong> {{/grade}}
                {{^grade}} <small> {{#str}}feedback:notreleased, report_feedback_tracker{{/str}} </small> {{/grade}}
                <br>
                {{#summative}}
                    <span class="badge badge-primary">
                        {{#str}}summative, report_feedback_tracker{{/str}}
                    </span>
                {{/summative}}

                {{#formative}}
                    <span class="badge badge-secondary">
                        {{#str}}formative, report_feedback_tracker{{/str}}
                    </span>
                {{/formative}}
            </div>
        </div>
    </div>
</div>


 {{#additionaldata}}
        {{> report_feedback_tracker/additionaldata }}
{{/additionaldata}}
<hr>
